<div class="highlights-container">
    <div>
        <app-tag>TARGET: Senior Software Developer</app-tag>
    </div>
    <div>
        <b>Full Stack Development ~ Project Leadership ~ JavaScript Frameworks ~ Innovation</b>
    </div>
    <div>
        <app-tag>CORE COMPETENCIES / AREA OF EXPERTISE</app-tag>
    </div>
    <div>
        <table>
            <tr>
                <td><app-competency>Full Stack Developer</app-competency></td>
                <td><app-competency>Angular, React, Vue</app-competency></td>
                <td><app-competency>C#/.NET, Node.js, Java</app-competency></td>
            </tr>
            <tr>
                <td><app-competency>SQL & NoSQL Databases</app-competency></td>
                <td><app-competency>Design Patterns</app-competency></td>
                <td><app-competency>AWS, Azure, Google Cloud</app-competency></td>
            </tr>
            <tr>
                <td><app-competency>REST, SOAP, GraphQL</app-competency></td>
                <td><app-competency>Team Leadership</app-competency></td>
                <td><app-competency>DevOps & CI/CD Support</app-competency></td>
            </tr>
        </table>
    </div>
    <div>
        <span class="kpi-blurb">Supported Multi-Million-Dollar Large-Scale Software Development Projects ~ Exceeded KPIs</span>
    </div>
    <div>
        <ul>
            <li *ngFor="let blurb of jobSummaryBlurbs">
                <app-job-summary [blurb]="blurb"/>
            </li>
        </ul>
    </div>
    <div>
        <app-tag>EDUCATION / PROFESSIONAL COURSEWORK</app-tag>
    </div>
    <div>
        <ul>
            <li *ngFor="let blurb of educationBlurbs">
                <app-education [educationDescription]="blurb" />
            </li>
        </ul>
    </div>
</div>