<div class="highlights-container">
    <div>
        <app-tag [text]="'TARGET: Senior Software Developer'"></app-tag>
    </div>
    <div>
        <b>Full Stack Development ~ Project Leadership ~ JavaScript Frameworks ~ Innovation</b>
    </div>
    <div>
        <app-tag [text]="'CORE COMPETENCIES / AREA OF EXPERTISE'"></app-tag>
    </div>
    <div>
        <table></table>
    </div>
    <div>
        <i>Supported Multi-Million-Dollar Large-Scale Software Development Projects ~ Exceeded KPIs</i>
    </div>
    <div>
        <ul>
            <li>xxx</li>
            <li>yyy</li>
            <li>zzz</li>
        </ul>
    </div>
    <div>
        <app-tag [text]="'EDUCATION / PROFESSIONAL COURSEWORK'"></app-tag>
    </div>
    <div>
        <ul>
            <li>Bachelor of Science in Computer Science</li>
            <li>Bachelor of Arts in Psychology, Honours</li>
            <li>Courses on ...</li>
            <li>High School Diploma</li>
        </ul>
    </div>
</div>