<div class="contact-info-container">
    <table>
        <tr>
            <td></td>
            <td><div class="logo bottom-border"><img src="images/laptop mobile server cloud.png" /></div></td>
        </tr>
        <tr>
            <td><div class="centered"><img src="images/phone.png" /></div></td>
            <td><div class="left bottom-border">403-999-4951</div></td>
        </tr>
        <tr>
            <td><div class="centered"><img style="margin: auto" src="images/email.png" /></div></td>
            <td><div class="left bottom-border">gibran.shah&commat;gmail.com</div></td>
        </tr>
        <tr>
            <td><div class="centered"><img src="images/address.png" /></div></td>
            <td><div class="left bottom-border">1301 250 Sage Valley Rd NW<br/>Calgary, AB T3R 0R6</div></td>
        </tr>
    </table>
</div>
